.add-job {
    max-height: 600px;
    overflow: auto;
    padding: 20px;
}

.form-button-container {
    justify-content: flex-end;
}

.main-title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
}

.input-wrap {
    display: flex;
    justify-content: space-between;
}

.custom-input {
    &.mat-focused {
        .date {
            color: #3f51b5;
        }
    }
}

.check-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    div:first-child {
        margin-right: 50px;
    }

    mat-label {
        margin-right: 20px;
    }
}