.add-job-btn {
    margin-left: 5px;
}

.mat-elevation-z8 {
    td {
        padding: 5px 15px 5px 15px;
        line-height: 20px;
    }

    td:first-child {
        padding-left: 24px;
    }
}

.more-btn {
    border-style: none;
    background-color: initial;
    outline: none;
}