.form-field-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.custom-input {
    width: calc(50% - 35px);
    margin-bottom: 30px;

    .icon {
        display: inline !important;
    }

    .mat-select-arrow {
        display: none;
    }

    .mat-select-value {
        display: initial;
    }

    .per-icon {
        margin-right: 0;
    }

    .mat-form-field-infix {
        border-top: 0;
        padding: 15px 0px 15px 0px;
    }

    .mat-form-field-flex {
        align-items: center !important;
        padding: 5px 8px 0px 10px !important;
    }

    .mat-form-field-suffix {
        top: 0.15em !important;
    }

    .mat-form-field-label-wrapper {
        top: -0.64375em;
    }

    .mat-form-field-wrapper {
        padding-bottom: 0;
    }

    .mat-form-field-outline {
        color: #d9e2ec;
    }
}
