.mat-elevation-z8 {
    box-shadow: none;

    td {
        padding: 5px 15px 5px 0px;
    }

    td,
    th {
        border-color: white;
        padding-right: 20px !important;
    }

    th {
        font-size: 14px;
        font-weight: 500;
        color: #323544;

        &:first-child {
            width: 10%;
            padding-left: 24px;
        }

        &:last-child {
            width: 5%;
        }

    }

    table {
        width: 100%;
    }
}

tr:hover {
    background-color: #eeeeee;
}

.mat-elevation-z8 {
    overflow: auto;

    td,
    th {
        &:last-child {
            mat-icon {
                cursor: pointer;
                &:first-child {
                    &:hover {
                        color: #3f51b5;
                    }
                }
            }
        }
    }
}